@model University.Models.Enrollment

@{
    ViewData["Title"] = "Create Enrollment";
}

<h1>Enroll New Students</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="courseID" class="control-label"></label>
                <select asp-for="courseID" class="form-control" asp-items="ViewBag.courseID"></select>
            </div>
            <div class="form-group">
                <label asp-for="studentID" class="control-label"></label>
                <select asp-for="studentID" class="form-control" asp-items="ViewBag.studentID"></select>
            </div>
            <div class="form-group">
                <label asp-for="semester" class="control-label"></label>
                <input asp-for="semester" class="form-control" />
                <span asp-validation-for="semester" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="year" class="control-label"></label>
                <input asp-for="year" class="form-control" />
                <span asp-validation-for="year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Admin">Back to Menu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
