@model University.Models.Enrollment

@{
    ViewData["Title"] = "Upload URL";
}

<h1>Upload URL</h1>

<h4>Enrollment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="StudentEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="courseID" class="control-label"></label>
                <select asp-for="courseID" class="form-control" asp-items="ViewBag.courseID"></select>
                <span asp-validation-for="courseID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="studentID" class="control-label"></label>
                <select asp-for="studentID" class="form-control" asp-items="ViewBag.studentID"></select>
                <span asp-validation-for="studentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="projectURL" class="control-label"></label>
                <input asp-for="projectURL" class="form-control" />
                <span asp-validation-for="projectURL" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="seminalURL" class="control-label"></label>
                @if (Model.seminalURL == null)
                {
                    <input type="file" name="pUrl" />
                }
                else
                {
                    <label>
                        Selected file:
                        <a href="@("/projects/" + Model.seminalURL)" target="_blank">
                            @Model.seminalURL
                        </a>
                    </label>
                    <input type="file" name="pUrl" />
                }

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

