
@{
    ViewData["Title"] = "Admin";
}

<h1>Admin</h1>

<h4>
    <a asp-controller="Courses" asp-action="Index">Courses</a>
</h4>
<h4>
    <a asp-controller="Teachers" asp-action="Index">Teachers</a>
</h4>
<h4>
    <a asp-controller="Students" asp-action="Index">Students</a>
</h4>
<h4>
    <a asp-controller="Enrollments" asp-action="CreateEnrollment">Enroll New Students</a>
</h4>
<h4>
    <a asp-controller="Enrollments" asp-action="EnrollmentList">Finish an Enrollment</a>
</h4>

